service:
  database:
    host: 'postgres'
    user: 'user'
    password: 'password'
    port: 5432
    name: 'db'
    ssl-mode: 'disable'

  redis:
    host: "valkey"
    port: 6379
    password: "valkeypass"
    db: 0

  minio:
    host: "minio"
    port: 9000
    access-key: "minioadmin"
    secret-key: "minioadmin"
    bucket-name: "test-bucket"
    ssl: false
    timeout: 10

  jwt:
    path-to-private-key: "keys/private.pem"
    refresh-token-expires: "720h"
    access-token-expires: "15m"

  info:
    path-to-json-file: "files/info/info.json"

backend:
  host: "0.0.0.0"
  port: 8000
  dev-mode: true
  tls:
    enabled: false
    port: 443
settings:
  timezone: 'Europe/Moscow'
  debug: false
  logger:
    log-to-file: false
    logs-dir: 'logs'
